* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: linear-gradient(300deg, #ced1d6, #bfc0c0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    font-family: inherit;
    min-width: 300px;
}

input:focus {
    outline: none;
}

.weather {
    text-align: center;
    font-size: 2rem;
}

.weather h2 {
    margin-bottom: 0;
}

